<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
  <property name="hibernate.connection.password">Bx8rY3</property>
  <property name="hibernate.connection.url">jdbc:hsqldb:file:C:/opt/db/jaims-server;shutdown=true;hsqldb.write_delay=false</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
  <property name="hibernate.default_catalog">PUBLIC</property>
  <property name="hibernate.default_schema">PUBLIC</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  
  <mapping class="jaims_development_studio.jaims.api.account.Account"/>
  <mapping class="jaims_development_studio.jaims.api.user.User"/>
  <mapping class="jaims_development_studio.jaims.api.profile.Profile"/>
  <mapping class="jaims_development_studio.jaims.api.settings.Settings"/>
  <mapping class="jaims_development_studio.jaims.api.message.Message"/>
  <mapping class="jaims_development_studio.jaims.api.message.TextMessage"/>
  <mapping class="jaims_development_studio.jaims.api.message.ImageMessage"/>
  <mapping class="jaims_development_studio.jaims.api.message.VoiceMessage"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.Sendable"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableConfirmation"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableDeleteAccount"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableException"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableLogin"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableMessage"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableMessageResponse"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableUuidEntity"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableProfile"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableSettings"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableRegistration"/>
  <mapping class="jaims_development_studio.jaims.api.sendables.SendableUUID"/>
 </session-factory>
</hibernate-configuration>
